<body class="">

    <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/home/img/bg-img/18.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Shoping cart</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Shop Area Start ##### -->
  <section class="shop-area section-padding-0-100">
    <div class="container">

      <div class="row">
        <!-- Shop Filters -->
        <div class="col-12">
          <div class="shop-filters mb-30 d-flex align-items-center justify-content-between">
            <!-- Product Show -->
            <div class="product-show">
              <h6>Showing 1–9 of 72 results</h6>
            </div>

            <!-- Product View Mode -->
            <div class="produtc-view-mode">
              <a href="#"><i class="fa fa-th"></i></a>
              <a href="#"><i class="fa fa-list-ul"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Shop Sidebar Area -->
        <div class="col-12 col-md-4 col-lg-3">

          <!-- Shopping Cart -->
          <div class="shopping-cart mb-50">
            <h5 class="mb-30">Shopping Cart</h5>
            {{#if products }}
            <!-- Cart Table -->
            <div class="cart-table clearfix">
              <table class="table table-responsive">
                <!-- tbody -->
                <tbody>
                  <!-- Single Table Row -->
                  
                  {{#each products }}
                  <tr>
                    <td class="cart_product_img">
                      <a href="#"><img src="/home/img/bg-img/34.jpg" alt="Product"></a>
                    </td>
                    <td class="cart_product_desc">
                      <p>{{ this.item.product_name }}</p>
                      <h6>qty:{{ this.qty }} x ${{ this.item.product_price }}</h6>
                    </td>
                    <td class="pro-close">
                      <a href="/shared/reduce/{{this.item._id}}"><i class="icon_close"></i></a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <!-- SubTotal -->
            <div class="cart-summary d-flex align-items-center justify-content-between">
              <div class="sub-total">
                <h6>SUBTOTAL</h6>
              </div>
              <div class="total-price">
                <h6>$ {{ totalPrice }}</h6>
              </div>
            </div>
            {{/if}}
            <!-- Checkout -->
            <a href="#" class="btn famie-btn checkout-btn mt-30 w-100">Proceed</a>
          </div>


        </div>
      </div>

    </div>
  </section>
  <!-- ##### Shop Area End ##### -->
  </body>